{% extends "base.html" %}
{% block main %}
  <h1>Change Your Password</h1>

  <!-- DO NOT CHANGE THIS -->
  <form method="post" enctype="multipart/form-data">
    <input type="password" name="password" placeholder="Old password" />
    <input type="password" name="new_password1" placeholder="New password" />
    <input type="password" name="new_password2"
      placeholder="New password, again" />
    <input type="submit" name="update_password" value="submit"/>
  </form>

  <a href="{{ url_for('show_edit') }}">Back to edit account</a>
{% endblock %}
