{% extends 'base.html' %}
{% block main %}
    
    <div class="profile"> 
        <p class="username">{{ profile_user.username }}</p>
        
        {% if current_user.username != profile_user.username %}
            <div class="relationship">
                {% if current_user_is_following %}
                    <p> following </p>
                    <!-- UNFOLLOW -->
                    <form method="post" enctype="multipart/form-data">
                        <input type="submit" name="unfollow" value="unfollow"/>
                        <input type="hidden" name="username" value="{{ profile_user.username }}"/>
                    </form>
                {% else %}
                    <p> not following </p>
                    <!-- FOLLOW -->
                    <form method="post" enctype="multipart/form-data">
                        <input type="submit" name="follow" value="follow"/>
                        <input type="hidden" name="username" value="{{ profile_user.username }}"/>
                    </form>
                {% endif %}
            </div>
        {% else %}
            <div class="account_controls">
                <a href="{{ url_for('show_edit') }}">Edit profile</a>
                <!-- LOGOUT -->
                <form action="{{ url_for('show_logout') }}" method="post" enctype="multipart/form-data">
                    <input type="submit" name="logout" value="Logout"/>
                </form>
            </div>
        {% endif %}
        
        <div class="stats">
            <p>
                {% if posts|length == 1 %}
                    1 post
                {% else %}
                    {{ posts|length }} posts
                {% endif %}
            </p>
            <a href="{{ url_for('show_followers', user_id=profile_user.username) }}">
                <p>
                    {% if follower_count == 1 %}
                        1 follower
                    {% else %}
                        {{ follower_count }} followers
                    {% endif %}
                </p>
            </a>
            <a href="{{ url_for('show_following', user_id=profile_user.username) }}">
                <p> 
                    {{ following_count }} following
                </p>
            </a>
        </div>

        <p class="name">{{ profile_user.fullname }}</p>

        {% if current_user.username == profile_user.username %}
            <div class="post_controls">
                <!-- CREATE POST -->
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit" name="create_post" value="upload new post"/>
                </form>
            </div>
        {% endif %}
    </div>

    <div class="posts">
        {% for post in posts %}
            <div class="thumbnail">
                <a href="{{ url_for('show_post', post_id=post.postid) }}"> 
                    <img src="{{ url_for('show_upload', path=post.filename) }}" alt="post-thumbnail">
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock main %}
